<link rel="stylesheet" href="{{ 'shopc-style.css' | asset_url }}">

{% liquid
  assign laptop_padding_top = section.settings.laptop_top
  assign laptop_padding_bottom = section.settings.laptop_bottom
  assign mobail_padding_top = section.settings.mobail_top
  assign mobail_padding_bottom = section.settings.mobail_bottom
  assign bgcolor = section.settings.bgcolor
  assign border_color = section.settings.border_color
  assign border_style = section.settings.border_style
  assign border_width = section.settings.border_width
%}

<style>
  .id_{{ section.id}}{
    background-color: {{bgcolor}};
  }

  .id_{{ section.id}} .container{
      border-color:{{border_color}};
      border-width:{{border_width}};
      border-style:{{border_style}};
      padding-top:{{laptop_padding_top}}px;
      padding-bottom:{{laptop_padding_bottom}}px;
      box-sizing: border-box;
  }


  .id_{{ section.id}} .container .col_1_2{
    
    max-width: 50%;
    width: 100%;
  }


  @media(max-width:767px){
      .id_{{ section.id}}{
            padding-left:20px;
       padding-right:20px;
      }
    .id_{{ section.id}} .container{
      padding-top:{{mobail_padding_top}}px;
      padding-bottom:{{mobail_padding_bottom}}px;
    }


  }
</style>

<section class="id_{{ section.id }}">
  <div class="container box_section">
    <div class="row">
    {% for block in section.blocks %}

      <div class="col col_1_2">
      {% case block.type %}
        {% when 'title' %}
          <style>
            .{{block.id}}.title{
              font-size:{{block.settings.font_size}}px;
              font-weight:{{block.settings.font_weight}};
              line-height:{{block.settings.line_height}}px;
              color:{{block.settings.textcolor}};
              margin-bottom:{{block.settings.margin_bottom}}px !important;
              text-align: {{block.settings.text_align}};
              width:{{block.settings.width}}%;
              margin:{{block.settings.align_content}}
            }
             @media(max-width:767px){
             .{{block.id}}.title{
              font-size:{{block.settings.mobail_font_size}}px;
              line-height:{{block.settings.mobail_line_height}}px;
              margin-bottom:{{block.settings.mobail_margin_bottom}}px !important;
              text-align: {{block.settings.mobail_text_align}};
              width:{{block.settings.mobail_width}}%;
              margin:{{block.settings.mobail_align_content}}
            }
             }
          </style>

          <h3 class="title {{ block.id }}">{{ block.settings.title }}</h3>
        {% when 'richtext' %}
          <style>
             .{{block.id}}{
               font-size:{{block.settings.font_size}}px;
               font-weight:{{block.settings.font_weight}};
               line-height:{{block.settings.line_height}}px;
               color:{{block.settings.textcolor}};
               margin-bottom:{{block.settings.margin_bottom}}px !important;
              text-align: {{block.settings.text_align}};
              width:{{block.settings.width}}%;
              margin:{{block.settings.align_content}}
             }
                .{{block.id}} ul{
                         padding-inline-start: 0;
                   margin-block: 0;
                   }
                   .{{block.id}} ul li{
                      list-style: none;
                     margin-bottom:10px;
                      display: flex;
                   }
             .{{block.id}} ul li::before{

               content: "\2713";
               font-size:{{block.settings.font_size}}px;
               font-weight:{{block.settings.font_weight}};
               margin-right: 10px;


               }
              @media(max-width:767px){
              .{{block.id}}{
               font-size:{{block.settings.mobail_font_size}}px;
               line-height:{{block.settings.mobail_line_height}}px;
               margin-bottom:{{block.settings.mobail_margin_bottom}}px !important;
              text-align: {{block.settings.mobail_text_align}};
              width:{{block.settings.mobail_width}}%;
              margin:{{block.settings.mobail_align_content}}
             }
            .{{block.id}} ul li::before{
                  font-size:{{block.settings.mobail_font_size}}px;
                 }
              }
          </style>
          <div class="{{ block.id }}">{{ block.settings.text }}</div>
        {% when 'button' %}
          <style>
            .{{block.id}} .btn{
              font-size:{{block.settings.font_size}}px;
              font-weight:{{block.settings.font_weight}};
              line-height:{{block.settings.font_size}}px;
              color:{{block.settings.text_color}};
              border-color:{{block.settings.border_color}};
              border-width:{{block.settings.border_width}}px;
              border-style:{{block.settings.border_style}};
              border-radius:{{block.settings.border_radius}}px;
              background-color: {{block.settings.btn_color}};
              margin-bottom:{{block.settings.margin_bottom}}px;
              padding:{{block.settings.padding}};
            }
             .{{block.id}} .btn:hover{
                background-color: {{block.settings.btn_color_hover}};
                color:{{block.settings.text_color_hover}};
                border-color:{{block.settings.border_color_hover}};
             }
             .{{block.id}}{
                text-align: {{block.settings.text_align}};
             }
             @media(max-width:767px){
             .{{block.id}} .btn{
              font-size:{{block.settings.mobail_font_size}}px;
              line-height:{{block.settings.mobail_font_size}}px;
              margin-bottom:{{block.settings.mobail_margin_bottom}}px;
              padding:{{block.settings.mobail_padding}};
            }
            .{{block.id}}{
                text-align: {{block.settings.mobail_text_align}};
             }
             }
          </style>

          {% if block.settings.btnlink != blank %}
            <div class="{{ block.id }}">
              <a class="btn" href="{{ block.settings.btnlink }}">{{ block.settings.btntext }}</a>
            </div>
          {% endif %}

        {% when 'style' %}
          <style>
            .id_{{ section.id}} .box_section .row{
                 display: flex;
                flex-wrap: wrap;
                 box-sizing: border-box;
                 margin:-{{block.settings.gap}}px;
              }
             .id_{{ section.id}} .box_section .row .col{
               padding:{{block.settings.gap}}px;
                box-sizing: border-box;
             }
            .id_{{ section.id}} .box_section .row .col .single_box{
               background-color:{{block.settings.bgcolor}};
               padding:{{block.settings.padding}}px;
               box-sizing: border-box;
               border-radius:{{block.settings.border_radius}}px;
               height:100%;
              text-align: {{block.settings.text_align}};
            }
            .id_{{ section.id}} .box_section .row .col .single_box .title{
                  font-size:{{block.settings.title_font_size}}px;
                 font-weight:{{block.settings.title_font_weight}};
                 line-height:{{block.settings.title_line_height}}px;
                 color:{{block.settings.title_text_color}};
                 margin-bottom:{{block.settings.title_margin_bottom}}px !important;
            }
            .id_{{ section.id}} .box_section .row .col .single_box .text{
                 font-size:{{block.settings.text_font_size}}px;
                 font-weight:{{block.settings.text_font_weight}};
                 line-height:{{block.settings.text_line_height}}px;
                 color:{{block.settings.text_color}};
                  margin-bottom:{{block.settings.text_margin_bottom}}px !important;
               }
            .id_{{ section.id}} .box_section .row .col .single_box .text ul{
                 padding-inline-start: 0;
                 margin-block: 0;
              }
              .id_{{ section.id}} .box_section .row .col .single_box .text ul li{
                        list-style: none;
                       margin-bottom:10px;
                        display: flex;
                    }
              .id_{{ section.id}} .box_section .row .col .single_box .text ul li::before{
                 content: "\2713";
                 font-size:{{block.settings.text_font_size}}px;
                 font-weight:{{block.settings.text_font_weight}};
                 margin-right: 10px;
                 }

            .id_{{ section.id}} .box_section .row .col .single_box .img_tag{
               aspect-ratio: {{block.settings.img_aspect_ratio}};
               max-width: {{block.settings.img_max_width}}; 
               object-fit: {{block.settings.img_object_fit}};
               border-radius:{{block.settings.img_border_radius}}{{block.settings.img_border_px}};
               margin-bottom:{{block.settings.img_margin_bottom}}px !important;
            }
            .id_{{ section.id}} .box_section .row .col .single_box .btn_div .btn{
                font-size:{{block.settings.btn_font_size}}px;
                font-weight:{{block.settings.btn_font_weight}};
                line-height:{{block.settings.btn_font_size}}px;
                color:{{block.settings.btn_text_color}};
                border-color:{{block.settings.btn_border_color}};
                border-width:{{block.settings.btn_border_width}}px;
                border-style:{{block.settings.btn_border_style}};
                border-radius:{{block.settings.btn_border_radius}}px;
                background-color: {{block.settings.btn_color}};
                margin-bottom:{{block.settings.btn_margin_bottom}}px;
                padding:{{block.settings.btn_padding}};
              }
               .id_{{ section.id}} .box_section .row .col .single_box .btn_div .btn:hover{
                  background-color: {{block.settings.btn_color_hover}};
                  color:{{block.settings.btn_text_hover}};
                  border-color:{{block.settings.btn_border_color_hover}};
               }
          </style>
        {% when 'mobail_style' %}
          <style>
            @media(max-width:767px){
            .id_{{ section.id}} .box_section .row{
                 display: flex;
                flex-wrap: wrap;
                 box-sizing: border-box;
                 margin:-{{block.settings.gap}}px;
              }
             .id_{{ section.id}} .box_section .row .col{
               padding:{{block.settings.gap}}px;
                box-sizing: border-box;
               max-width:100% !important;
             }
            .id_{{ section.id}} .box_section .row .col .single_box{
               background-color:{{block.settings.bgcolor}};
               padding:{{block.settings.padding}}px;
               box-sizing: border-box;
               border-radius:{{block.settings.border_radius}}px;
               height:100%;
              text-align: {{block.settings.text_align}};
            }
            .id_{{ section.id}} .box_section .row .col .single_box .title{
                  font-size:{{block.settings.title_font_size}}px;
                 font-weight:{{block.settings.title_font_weight}};
                 line-height:{{block.settings.title_line_height}}px;
                 color:{{block.settings.title_text_color}};
                 margin-bottom:{{block.settings.title_margin_bottom}}px !important;
            }
            .id_{{ section.id}} .box_section .row .col .single_box .text{
                 font-size:{{block.settings.text_font_size}}px;
                 font-weight:{{block.settings.text_font_weight}};
                 line-height:{{block.settings.text_line_height}}px;
                 color:{{block.settings.text_color}};
                  margin-bottom:{{block.settings.text_margin_bottom}}px !important;
               }
            .id_{{ section.id}} .box_section .row .col .single_box .text ul{
                 padding-inline-start: 0;
                 margin-block: 0;
              }
              .id_{{ section.id}} .box_section .row .col .single_box .text ul li{
                        list-style: none;
                       margin-bottom:10px;
                        display: flex;
                    }
              .id_{{ section.id}} .box_section .row .col .single_box .text ul li::before{
                 content: "\2713";
                 font-size:{{block.settings.text_font_size}}px;
                 font-weight:{{block.settings.text_font_weight}};
                 margin-right: 10px;
                 }

            .id_{{ section.id}} .box_section .row .col .single_box .img_tag{
               aspect-ratio: {{block.settings.img_aspect_ratio}};
               max-width: {{block.settings.img_max_width}}; 
               object-fit: {{block.settings.img_object_fit}};
               border-radius:{{block.settings.img_border_radius}}{{block.settings.img_border_px}};
               margin-bottom:{{block.settings.img_margin_bottom}}px !important;
            }
            .id_{{ section.id}} .box_section .row .col .single_box .btn_div .btn{
                font-size:{{block.settings.btn_font_size}}px;
                font-weight:{{block.settings.btn_font_weight}};
                line-height:{{block.settings.btn_font_size}}px;
                color:{{block.settings.btn_text_color}};
                border-color:{{block.settings.btn_border_color}};
                border-width:{{block.settings.btn_border_width}}px;
                border-style:{{block.settings.btn_border_style}};
                border-radius:{{block.settings.btn_border_radius}}px;
                background-color: {{block.settings.btn_color}};
                margin-bottom:{{block.settings.btn_margin_bottom}}px;
                padding:{{block.settings.btn_padding}};
              }
               .id_{{ section.id}} .box_section .row .col .single_box .btn_div .btn:hover{
                  background-color: {{block.settings.btn_color_hover}};
                  color:{{block.settings.btn_text_color_hover}};
                  border-color:{{block.settings.btn_border_color_hover}};
               }


            }
          </style>
      {% endcase %}
        </div>
    {% endfor %}

  </div>

    <div class="box_section">
      <div class="row">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'box' %}
              <style>
                .{{ block.id }}{
                  max-width:{{block.settings.width}};
                  width:100%;
                  box-sizing: border-box;
                }
              </style>
              <div class="col {{ block.id }}">
                <div class="single_box">
                  <h3 class="title">{{ block.settings.title }}</h3>
                  <div class="text">{{ block.settings.text }}</div>

                  {% if block.settings.img != blank %}
                    <img
                      class="img_tag"
                      src="{{ block.settings.img | image_url }}"
                      alt="{{ block.settings.img.alt }}"
                      width="100"
                      height="100"
                    >
                  {% endif %}

                  {% if block.settings.btnlink != blank %}
                    <div class="btn_div">
                      <a class="btn" href="{{ block.settings.btnlink }}">{{ block.settings.btntext }}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Shopc Bordered Box",
    "settings": [

      {
  "type": "color",
   "label": "Background Color",
   "id": "bgcolor"
 },
 {
   "type": "header",
   "content": "Laptop Padding"
 },

 {
       "type": "range",
          "id": "laptop_top",
          "label": "Top",
          "min":0,
          "max":150,
          "step": 2,
        "unit": "px",
        "default":112
      },
      {
       "type": "range",
          "id": "laptop_bottom",
          "label": "Bottom",
          "min":0,
          "max":150,
        "unit": "px",
          "default":112,
          "step": 2
      },

       {
        "type": "header",
        "content": "Mobail Padding"
      },
      {
       "type": "range",
          "id": "mobail_top",
          "label": "Top",
          "min":0,
          "max":80,
          "step": 1,
        "unit": "px",
        "default":64
      },
      {
       "type": "range",
          "id": "mobail_bottom",
          "label": "Bottom",
          "min":0,
          "max":80,
        "unit": "px",
          "default":64,
          "step": 1
      },
      {
        "type": "header",
        "content": "Border Style"
      },
      {
        "type": "text",
        "id": "border_width",
        "label": "Border Width ( 1px 0px 1px 0px)",
        "default":"0"
      },
      {
        "type": "color",
        "id": "border_color",
        "default": "#d9d9d9",
        "label": "Border Color"
      },
      {
        "type": "select",
         "id": "border_style",
            "label": "Border Style",
            "default": "solid",
            "options": [
              {
                "label": "Solid",
                "value": "solid"
              },
              {
                "value": "dotted",
                "label": "Dotted"
              },
              {
                "label": "Dashed",
                "value": "dashed"
              },
              {
                "label": "Double",
                "value": "double"
              }
            ]
          }
    ],
    "blocks": [
      {
  "type": "title",
  "name": "Title",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default":"The ShopLandingAI Solution"
    },
    {
      "type": "color",
      "id": "textcolor",
      "label": "Color",
      "default":"#000000"
    },
     {
   "type": "header",
   "content": "Laptop Typography"
    },
     {
        "type": "select",
         "id": "text_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "label": "left",
                "value": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "label": "right",
                "value": "right"
              }
            ]
          },
        {
       "type": "range",
          "id": "width",
          "label": "Width",
          "min":0,
          "max":100,
          "unit": "%",
          "default":100,
          "step": 1
      },     {
        "type": "select",
         "id": "align_content",
            "label": "Align Content",
            "default": "0px auto 0px 0px",
            "options": [
              {
                "label": "left",
                "value": "0px auto 0px 0px"
              },
              {
                "value": "0px auto",
                "label": "center"
              },
              {
                "label": "right",
                "value": "0px 0px 0px auto"
              }
            ]
          },
    {
       "type": "range",
          "id": "font_size",
          "label": "Font Size",
          "min":0,
          "max":100,
        "unit": "px",
          "default":50,
          "step": 1
      },
        {
       "type": "range",
          "id": "line_height",
          "label": "Line Height",
          "min":0,
          "max":100,
        "unit": "px",
          "default":60,
          "step": 1
      },

    {
        "type": "select",
         "id": "font_weight",
            "label": "Font Weight",
            "default": "500",
            "options": [
              {
                "label": "100",
                "value": "100"
              },
              {
                "value": "200",
                "label": "200"
              },
                {
                "label": "300",
                "value": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
                  {
                "label": "500",
                "value": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "label": "700",
                "value": "700"
              },
              {
                "label": "800",
                "value": "800"
              },
               {
                "label": "900",
                "value": "900"
              },
               {
                "label": "Bold",
                "value": "bold"
              }
            ]
          },
          {
        "type": "range",
          "id": "margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":8,
          "step": 1
    },
         {
   "type": "header",
   "content": "Mobail Typography"
    },
    {
        "type": "select",
         "id": "mobail_text_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "label": "left",
                "value": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "label": "right",
                "value": "right"
              }
            ]
          },
        {
       "type": "range",
          "id": "mobail_width",
          "label": "Width",
          "min":0,
          "max":100,
          "unit": "%",
          "default":100,
          "step": 1
      },     {
        "type": "select",
         "id": "mobail_align_content",
            "label": "Align Content",
            "default": "0px auto 0px 0px",
            "options": [
              {
                "label": "left",
                "value": "0px auto 0px 0px"
              },
              {
                "value": "0px auto",
                "label": "center"
              },
              {
                "label": "right",
                "value": "0px 0px 0px auto"
              }
            ]
          },
    {
       "type": "range",
          "id": "mobail_font_size",
          "label": "Font Size",
          "min":0,
          "max":100,
        "unit": "px",
          "default":29,
          "step": 1
      },
        {
       "type": "range",
          "id": "mobail_line_height",
          "label": "Line Height",
          "min":0,
          "max":100,
        "unit": "px",
          "default":40,
          "step": 1
      },
          {
        "type": "range",
          "id": "mobail_margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":8,
          "step": 1
    }
  ]
},
{
  "type": "richtext",
  "name":"Rich Text",
  "settings": [
    {
      "type": "richtext",
      "label": "Content",
      "id": "text"
    },
     {
      "type": "color",
      "id": "textcolor",
      "label": "Color",
      "default":"#000000"
    },
     {
   "type": "header",
   "content": "Laptop Typography"
    },     {
        "type": "select",
         "id": "text_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "label": "left",
                "value": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "label": "right",
                "value": "right"
              }
            ]
          },
        {
       "type": "range",
          "id": "width",
          "label": "Width",
          "min":0,
          "max":100,
          "unit": "%",
          "default":100,
          "step": 1
      },     {
        "type": "select",
         "id": "align_content",
            "label": "Align Content",
            "default": "0px auto 0px 0px",
            "options": [
              {
                "label": "left",
                "value": "0px auto 0px 0px"
              },
              {
                "value": "0px auto",
                "label": "center"
              },
              {
                "label": "right",
                "value": "0px 0px 0px auto"
              }
            ]
          },
    {
       "type": "range",
          "id": "font_size",
          "label": "Font Size",
          "min":0,
          "max":30,
        "unit": "px",
          "default":18,
          "step": 1
      },
        {
       "type": "range",
          "id": "line_height",
          "label": "Line Height",
          "min":0,
          "max":50,
        "unit": "px",
          "default":27,
          "step": 1
      },

    {
        "type": "select",
         "id": "font_weight",
            "label": "Font Weight",
            "default": "500",
            "options": [
              {
                "label": "100",
                "value": "100"
              },
              {
                "value": "200",
                "label": "200"
              },
                {
                "label": "300",
                "value": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
                  {
                "label": "500",
                "value": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "label": "700",
                "value": "700"
              },
              {
                "label": "800",
                "value": "800"
              },
               {
                "label": "900",
                "value": "900"
              },
               {
                "label": "Bold",
                "value": "bold"
              }
            ]
          },
          {
        "type": "range",
          "id": "margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":20,
          "step": 1
    },
         {
   "type": "header",
   "content": "Mobail Typography"
    },     {
        "type": "select",
         "id": "mobail_text_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "label": "left",
                "value": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "label": "right",
                "value": "right"
              }
            ]
          },
        {
       "type": "range",
          "id": "mobail_width",
          "label": "Width",
          "min":0,
          "max":100,
          "unit": "%",
          "default":100,
          "step": 1
      },     {
        "type": "select",
         "id": "mobail_align_content",
            "label": "Align Content",
            "default": "0px auto 0px 0px",
            "options": [
              {
                "label": "left",
                "value": "0px auto 0px 0px"
              },
              {
                "value": "0px auto",
                "label": "center"
              },
              {
                "label": "right",
                "value": "0px 0px 0px auto"
              }
            ]
          },
    {
       "type": "range",
          "id": "mobail_font_size",
          "label": "Font Size",
          "min":0,
          "max":30,
        "unit": "px",
          "default":16,
          "step": 1
      },
        {
       "type": "range",
          "id": "mobail_line_height",
          "label": "Line Height",
          "min":0,
          "max":50,
        "unit": "px",
          "default":24,
          "step": 1
      },
          {
        "type": "range",
          "id": "mobail_margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":20,
          "step": 1
    } 
    

    
  ]
},
  {
  "type": "button",
  "name": "Button",
  "limit": 1,
  "settings": [
    {
      "type": "url",
      "id": "btnlink",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "btntext",
      "label": "Button Text",
      "default":"Shop Now"
    },
      {
        "type": "header",
        "content": "Button Style"
      },
     {
        "type": "select",
         "id": "text_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "label": "left",
                "value": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "label": "right",
                "value": "right"
              }
            ]
          },
      {
        "type": "text",
        "id": "padding",
        "label": "Border Padding ( 10px 45px)",
        "default":"10px 45px"
      },
        {
       "type": "range",
          "id": "font_size",
          "label": "Font Size",
          "min":0,
          "max":50,
        "unit": "px",
          "default":18,
          "step": 1
      },
    {
        "type": "select",
         "id": "font_weight",
            "label": "Font Weight",
            "default": "500",
            "options": [
              {
                "label": "100",
                "value": "100"
              },
              {
                "value": "200",
                "label": "200"
              },
                {
                "label": "300",
                "value": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
                  {
                "label": "500",
                "value": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "label": "700",
                "value": "700"
              },
              {
                "label": "800",
                "value": "800"
              },
               {
                "label": "900",
                "value": "900"
              },
               {
                "label": "Bold",
                "value": "bold"
              }
            ]
          },

    {
      "type": "range",
      "label": "Border Width",
        "id": "border_width",
          "min":0,
          "max":10,
        "unit": "px",
          "default":1,
          "step": 1
      },
        {
      "type": "range",
      "label": "Border Radius",
        "id": "border_radius",
          "min":0,
          "max":100,
        "unit": "px",
          "default":30,
          "step": 1
      },
      {
        "type": "select",
         "id": "border_style",
            "label": "Border Style",
            "default": "solid",
            "options": [
              {
                "label": "Solid",
                "value": "solid"
              },
              {
                "value": "dotted",
                "label": "Dotted"
              },
              {
                "label": "Dashed",
                "value": "dashed"
              },
              {
                "label": "Double",
                "value": "double"
              }
            ]
          },          {
        "type": "range",
          "id": "margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":50,
           "unit": "px",
          "default":0,
          "step": 1
    },
     {
        "type": "header",
        "content": "Mobail Button Style"
      }, {
        "type": "select",
         "id": "mobail_text_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "label": "left",
                "value": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "label": "right",
                "value": "right"
              }
            ]
          },
     {
        "type": "text",
        "id": "mobail_padding",
        "label": "Border Width ( 10px 30px)",
        "default":"10px 30px"
      },
        {
       "type": "range",
          "id": "mobaile_font_size",
          "label": "Font Size",
          "min":0,
          "max":50,
        "unit": "px",
          "default":17,
          "step": 1
      },          {
        "type": "range",
          "id": "mobail_margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":50,
           "unit": "px",
          "default":0,
          "step": 1
    },
        {
        "type": "header",
        "content": "Button Color"
      },
               {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
             "default":"#ffffff"
          },
          {
            "type": "color",
            "id": "btn_color",
            "label": "Button Color",
             "default":"#4ea2b2"
          },
    {
            "type": "color",
            "id": "border_color",
            "label": "Border Color",
             "default":"#4ea2b2"
          },
            {
        "type": "header",
        "content": "Button Hover Color"
      },
            {
            "type": "color",
            "id": "btn_text_hover",
            "label": "Text",
            "default":"#ffffff"
          },
          {
            "type": "color",
            "id": "btn_color_hover",
            "label": "Button Color",
             "default":"#f37527"
          },
          {
            "type": "color",
            "id": "border_color_hover",
            "label": "Border Color",
             "default":"#f37527"
          }
  ]
},
      {
        "type": "box",
        "name":"Image Box",
        "settings": [
           {
        "type": "select",
         "id": "width",
            "label": "Width",
            "default": "33.33%",
            "options": [
              {
                "label": "50%",
                "value": "50%"
              },
              {
                "value": "33.33%",
                "label": "33.33%"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Select Images"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default":"Customers Love ShopLandingAI"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Description",
            "default":"<p>Get AI-powered analysis of customer data to discover new, valuable audience groups.</p>"
          },
          {
         "type": "url",
        "id": "btnlink",
        "label": "Button Link"
      },
      {
      "type": "text",
      "id": "btntext",
      "label": "Button Text",
      "default":"Shop Now"
     }

        ]
      },
  {
    "type": "style",
    "name":"Boxs Laptop Style",
    "limit": 1,
    "settings": [
      {
        "type": "header",
        "content": "Laptop Style"
      },  {
        "type": "select",
         "id": "text_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "label": "left",
                "value": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "label": "right",
                "value": "right"
              }
            ]
          },
      {
      "type": "color",
      "label": "Background Color",
       "id": "bgcolor",
      "default":"#efefef"
    },
       {
       "type": "range",
          "id": "padding",
          "label": "Box Padding",
          "min":0,
          "max":50,
        "unit": "px",
          "default":40,
          "step": 1
      },
      {
       "type": "range",
          "id": "gap",
          "label": "Box Gap",
          "min":0,
          "max":40,
          "unit": "px",
          "default":20,
          "step": 1
      },
      {
      "type": "range",
      "label": "Border Radius",
        "id": "border_radius",
          "min":0,
          "max":40,
        "unit": "px",
          "default":6,
          "step": 1
      },
      {
        "type": "header",
        "content": "Title Style"
      },
          {
       "type": "range",
          "id": "title_font_size",
          "label": "Font Size",
          "min":0,
          "max":100,
        "unit": "px",
          "default":19,
          "step": 1
      },
        {
       "type": "range",
          "id": "title_line_height",
          "label": "Line Height",
          "min":0,
          "max":100,
        "unit": "px",
          "default":27,
          "step": 1
      },

    {
        "type": "select",
         "id": "title_font_weight",
            "label": "Font Weight",
            "default": "500",
            "options": [
              {
                "label": "100",
                "value": "100"
              },
              {
                "value": "200",
                "label": "200"
              },
                {
                "label": "300",
                "value": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
                  {
                "label": "500",
                "value": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "label": "700",
                "value": "700"
              },
              {
                "label": "800",
                "value": "800"
              },
               {
                "label": "900",
                "value": "900"
              },
               {
                "label": "Bold",
                "value": "bold"
              }
            ]
          },
          {
        "type": "range",
          "id": "title_margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":20,
          "step": 1
    },
      {
      "type": "color",
      "label": "Title Color",
       "id": "title_text_color",
      "default":"#000000"
    },
            {
        "type": "header",
        "content": "Text Style"
      },
          {
       "type": "range",
          "id": "text_font_size",
          "label": "Font Size",
          "min":0,
          "max":40,
        "unit": "px",
          "default":16,
          "step": 1
      },
        {
       "type": "range",
          "id": "text_line_height",
          "label": "Line Height",
          "min":0,
          "max":50,
        "unit": "px",
          "default":24,
          "step": 1
      },

    {
        "type": "select",
         "id": "text_font_weight",
            "label": "Font Weight",
            "default": "400",
            "options": [
              {
                "label": "100",
                "value": "100"
              },
              {
                "value": "200",
                "label": "200"
              },
                {
                "label": "300",
                "value": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
                  {
                "label": "500",
                "value": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "label": "700",
                "value": "700"
              },
              {
                "label": "800",
                "value": "800"
              },
               {
                "label": "900",
                "value": "900"
              },
               {
                "label": "Bold",
                "value": "bold"
              }
            ]
          },
          {
        "type": "range",
          "id": "text_margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":20,
          "step": 1
    },
      {
      "type": "color",
      "label": "Text Color",
       "id": "text_color",
      "default":"#000000"
    },
      {
        "type": "header",
        "content": "Image Style"
      },
      {
      "type": "text",
      "id": "img_aspect_ratio",
      "label": "Aspect Ratio(1/1)"
    },
      {
      "type": "text",
      "id": "img_max_width",
      "label": "Image Width",
      "default":"200px"
    },
       {
        "type": "select",
         "id": "img_object_fit",
            "label": "Object fit",
            "options": [
              {
                "label": "fill",
                "value": "fill"
              },
              {
                "label": "cover",
                "value": "cover"
              },
              {
                "value": "contain",
                "label": "contain"
              }
            ],
          "default": "fill"
          },      {
        "type": "header",
        "content": "Border Radius"
      },       {
        "type": "select",
         "id": "img_border_px",
            "label": "Border Radius(px / %)",
            "options": [
              {
                "label": "px",
                "value": "px"
              },
              {
                "label": "%",
                "value": "%"
              }
            ],
          "default": "px"
          },
    {
      "type": "range",
      "label": "Border Radius Range",
        "id": "img_border_radius",
          "min":0,
          "max":100,
        "unit": "px",
          "default":0,
          "step": 1
      },
        {
        "type": "range",
          "id": "img_margin_bottom",
          "label": "Image Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":10,
          "step": 1
    },
      {
        "type": "header",
        "content": "Buttom Style"
      },
      {
        "type": "text",
        "id": "btn_padding",
        "label": "Border Padding ( 10px 45px)",
        "default":"10px 45px"
      },
        {
       "type": "range",
          "id": "btn_font_size",
          "label": "Font Size",
          "min":0,
          "max":50,
        "unit": "px",
          "default":18,
          "step": 1
      },
    {
        "type": "select",
         "id": "btn_font_weight",
            "label": "Font Weight",
            "default": "500",
            "options": [
              {
                "label": "100",
                "value": "100"
              },
              {
                "value": "200",
                "label": "200"
              },
                {
                "label": "300",
                "value": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
                  {
                "label": "500",
                "value": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "label": "700",
                "value": "700"
              },
              {
                "label": "800",
                "value": "800"
              },
               {
                "label": "900",
                "value": "900"
              },
               {
                "label": "Bold",
                "value": "bold"
              }
            ]
          },

    {
      "type": "range",
      "label": "Border Width",
        "id": "btn_border_width",
          "min":0,
          "max":10,
        "unit": "px",
          "default":1,
          "step": 1
      },
        {
      "type": "range",
      "label": "Border Radius",
        "id": "btn_border_radius",
          "min":0,
          "max":100,
        "unit": "px",
          "default":30,
          "step": 1
      },
      {
        "type": "select",
         "id": "btn_border_style",
            "label": "Border Style",
            "default": "solid",
            "options": [
              {
                "label": "Solid",
                "value": "solid"
              },
              {
                "value": "dotted",
                "label": "Dotted"
              },
              {
                "label": "Dashed",
                "value": "dashed"
              },
              {
                "label": "Double",
                "value": "double"
              }
            ]
          },          {
        "type": "range",
          "id": "btn_margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":50,
           "unit": "px",
          "default":0,
          "step": 1
    },
      {
        "type": "header",
        "content": "Button Color"
      },
               {
            "type": "color",
            "id": "btn_text_color",
            "label": "Text Color",
             "default":"#ffffff"
          },
          {
            "type": "color",
            "id": "btn_color",
            "label": "Button Color",
             "default":"#4ea2b2"
          },
    {
            "type": "color",
            "id": "btn_border_color",
            "label": "Border Color",
             "default":"#4ea2b2"
          },
            {
        "type": "header",
        "content": "Button Hover Color"
      },
            {
            "type": "color",
            "id": "btn_text_hover",
            "label": "Text",
            "default":"#ffffff"
          },
          {
            "type": "color",
            "id": "btn_color_hover",
            "label": "Button Color",
             "default":"#f37527"
          },
          {
            "type": "color",
            "id": "btn_border_color_hover",
            "label": "Border Color",
             "default":"#f37527"
          }

    ]
  },
        {
    "type": "mobail_style",
    "name":"Boxs Mobail Style",
    "limit": 1,
    "settings": [
      {
        "type": "header",
        "content": "Laptop Style"
      },  {
        "type": "select",
         "id": "text_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "label": "left",
                "value": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "label": "right",
                "value": "right"
              }
            ]
          },
       {
       "type": "range",
          "id": "padding",
          "label": "Box Padding",
          "min":0,
          "max":50,
        "unit": "px",
          "default":40,
          "step": 1
      },
      {
       "type": "range",
          "id": "gap",
          "label": "Box Gap",
          "min":0,
          "max":40,
          "unit": "px",
          "default":20,
          "step": 1
      },
      {
      "type": "range",
      "label": "Border Radius",
        "id": "border_radius",
          "min":0,
          "max":40,
        "unit": "px",
          "default":6,
          "step": 1
      },
      {
        "type": "header",
        "content": "Title Style"
      },
          {
       "type": "range",
          "id": "title_font_size",
          "label": "Font Size",
          "min":0,
          "max":100,
        "unit": "px",
          "default":19,
          "step": 1
      },
        {
       "type": "range",
          "id": "title_line_height",
          "label": "Line Height",
          "min":0,
          "max":100,
        "unit": "px",
          "default":27,
          "step": 1
      },

    {
        "type": "select",
         "id": "title_font_weight",
            "label": "Font Weight",
            "default": "500",
            "options": [
              {
                "label": "100",
                "value": "100"
              },
              {
                "value": "200",
                "label": "200"
              },
                {
                "label": "300",
                "value": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
                  {
                "label": "500",
                "value": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "label": "700",
                "value": "700"
              },
              {
                "label": "800",
                "value": "800"
              },
               {
                "label": "900",
                "value": "900"
              },
               {
                "label": "Bold",
                "value": "bold"
              }
            ]
          },
          {
        "type": "range",
          "id": "title_margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":20,
          "step": 1
    },
       {
        "type": "header",
        "content": "Text Style"
      },
          {
       "type": "range",
          "id": "text_font_size",
          "label": "Font Size",
          "min":0,
          "max":40,
        "unit": "px",
          "default":16,
          "step": 1
      },
        {
       "type": "range",
          "id": "text_line_height",
          "label": "Line Height",
          "min":0,
          "max":50,
        "unit": "px",
          "default":24,
          "step": 1
      },

    {
        "type": "select",
         "id": "text_font_weight",
            "label": "Font Weight",
            "default": "400",
            "options": [
              {
                "label": "100",
                "value": "100"
              },
              {
                "value": "200",
                "label": "200"
              },
                {
                "label": "300",
                "value": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
                  {
                "label": "500",
                "value": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "label": "700",
                "value": "700"
              },
              {
                "label": "800",
                "value": "800"
              },
               {
                "label": "900",
                "value": "900"
              },
               {
                "label": "Bold",
                "value": "bold"
              }
            ]
          },
          {
        "type": "range",
          "id": "text_margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":20,
          "step": 1
    },
      {
        "type": "header",
        "content": "Image Style"
      },
      {
      "type": "text",
      "id": "img_aspect_ratio",
      "label": "Aspect Ratio(1/1)"
    },
      {
      "type": "text",
      "id": "img_max_width",
      "label": "Image Width",
      "default":"200px"
    },
       {
        "type": "select",
         "id": "img_object_fit",
            "label": "Object fit",
            "options": [
              {
                "label": "fill",
                "value": "fill"
              },
              {
                "label": "cover",
                "value": "cover"
              },
              {
                "value": "contain",
                "label": "contain"
              }
            ],
          "default": "fill"
          },      {
        "type": "header",
        "content": "Border Radius"
      },       {
        "type": "select",
         "id": "img_border_px",
            "label": "Border Radius(px / %)",
            "options": [
              {
                "label": "px",
                "value": "px"
              },
              {
                "label": "%",
                "value": "%"
              }
            ],
          "default": "px"
          },
    {
      "type": "range",
      "label": "Border Radius Range",
        "id": "img_border_radius",
          "min":0,
          "max":100,
        "unit": "px",
          "default":0,
          "step": 1
      },
        {
        "type": "range",
          "id": "img_margin_bottom",
          "label": "Image Margin Bottom",
          "min":0,
          "max":100,
           "unit": "px",
          "default":10,
          "step": 1
    },
      {
        "type": "header",
        "content": "Buttom Style"
      },
      {
        "type": "text",
        "id": "btn_padding",
        "label": "Border Padding ( 10px 45px)",
        "default":"10px 45px"
      },
        {
       "type": "range",
          "id": "btn_font_size",
          "label": "Font Size",
          "min":0,
          "max":50,
        "unit": "px",
          "default":18,
          "step": 1
      },
    {
        "type": "select",
         "id": "btn_font_weight",
            "label": "Font Weight",
            "default": "500",
            "options": [
              {
                "label": "100",
                "value": "100"
              },
              {
                "value": "200",
                "label": "200"
              },
                {
                "label": "300",
                "value": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
                  {
                "label": "500",
                "value": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "label": "700",
                "value": "700"
              },
              {
                "label": "800",
                "value": "800"
              },
               {
                "label": "900",
                "value": "900"
              },
               {
                "label": "Bold",
                "value": "bold"
              }
            ]
          },

    {
      "type": "range",
      "label": "Border Width",
        "id": "btn_border_width",
          "min":0,
          "max":10,
        "unit": "px",
          "default":1,
          "step": 1
      },
        {
      "type": "range",
      "label": "Border Radius",
        "id": "btn_border_radius",
          "min":0,
          "max":100,
        "unit": "px",
          "default":30,
          "step": 1
      },
        {
        "type": "range",
          "id": "btn_margin_bottom",
          "label": "Margin Bottom",
          "min":0,
          "max":50,
           "unit": "px",
          "default":0,
          "step": 1
    }

    ]
  }


    ],
    "presets": [
      {
        "name": "Shopc Bordered Box",
         "blocks": [
        {
          "type": "title"
        },
         {
          "type": "style"
        },
        {
          "type": "mobail_style"
        }

      ]
      }
    ]
  }
{% endschema %}
